.Game {
    width: 800px;
    height: 600px;
    background-color: #434343;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.Game header {
    padding: 6px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 6px;
}

.Brick {
    background-color: #00BCD4;
    height: 15px;
    border-radius: 3px;
}

footer {
    padding: 6px;
    padding-top: 0;
}

.Paddle {
    height: 15px;
    width: 100px;
    background-color: #c249ff;
    border-radius: 10px;
    position: absolute;
    transition: 0.1s;
}

.Ball {
    height: 20px;
    width: 20px;
    background-color: #d47800;
    border-radius: 50%;
    position: absolute;
    /* transition: 0.1s; */
}

.Game footer {
    position: relative;
    height: 18px;
}