@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

body {
  direction: rtl;
  background-color: #ccdeff;
}

h1 {
  text-align: center;
}

.board {
  position: relative;
}

.board>div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 3px #0000007e;
  padding: 16px;
}

@keyframes zoom-in {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1.4);
  }
}

.winner {
  font-size: 80px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoom-in 2s;
}

.card {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #b4cfff;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  scale: 1.1;
}

.card * {
  display: none;
}

.card.show {
  background-color: white;
  box-shadow: 0 0 5px #60606094;
  transform: matrix3d(1, 0, 4, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
}

.card.complete {
  visibility: hidden;
}

.card.show * {
  display: block;
}

.card i {
  font-size: 2.5em;
  font-style: normal;
}

.card p {
  margin: 5px;
}

.animals {
  text-align: center;
  font-size: 4em;
}

.card.hover {
  filter: brightness(0.94);
}

.frame {
  display: flex;
}

.player {
  min-width: 100px;
  text-align: center;
  padding: 0 8px;
}

.player h3 {
  border: 1px solid black;
  border-radius: 8px;
  margin: 4px;
  padding: 4px 0;
}

.player.active h3 {
  background-color: #2196F3;
  color: white;
}