body {
  direction: rtl;
  background: #4CAF50;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.Crad {
  background-color: white;
  box-shadow: 0 0 5px #0000007f;
  border-radius: 6px;
  padding: 8px;
}